### 서울시 일인당 CCTV 댓수 구별 현황 분석
* 구별 인구당 CCTV 댓수 현황 파악
* 인구당 CCTV댓수와 관련이 높은 지표는...

In [217]:
import pandas as pd
import numpy as np

In [218]:
pwd

'D:\\fun\\pandas'

In [219]:
cctv_seoul = pd.read_csv('D:\\fun\\pandas/CCTV_in_Seoul.csv')
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [220]:
pop_seoul = pd.read_excel('D:\\fun\\pandas/population_in_Seoul.xls')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [221]:
pop_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.3+ KB

In [222]:
pop_seoul.columns

Index(['기간', '자치구', '세대', '인구', '인구.1', '인구.2', '인구.3', '인구.4', '인구.5', '인구.6',
       '인구.7', '인구.8', '세대당인구', '65세이상고령자'],
      dtype='object')

In [223]:
pop_seoul.head(2)

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자

In [224]:
# 1, 3, 6, 9, 13

In [225]:
pop_seoul = pd.read_excel('D:\\fun\\pandas/population_in_Seoul.xls', usecols=[1,3,6,9,13], skiprows=2)
pop_seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [226]:
pop_seoul.rename(columns = {'자치구' : '구별', '계':'인구수',
                            '계.1':'한국인','계.2':'외국인', '65세이상고령자':'고령자'}
                 , inplace=True)
pop_seoul.head(3)

    구별         인구수        한국인       외국인        고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0

In [227]:
pop_seoul.info

<bound method DataFrame.info of       구별         인구수        한국인       외국인        고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0
26   NaN         NaN        NaN       NaN        NaN>

In [228]:
pop_seoul.tail()

     구별       인구수       한국인     외국인      고령자
22  서초구  450310.0  445994.0  4316.0  51733.0
23  강남구  570500.0  565550.0  4950.0  63167.0
24  송파구  667483.0  660584.0  6899.0  72506.0
25  강동구  453233.0  449019.0  4214.0  54622.0
26  NaN       NaN       NaN     NaN      NaN

In [229]:
pop_seoul.drop(26, axis=0, inplace=True)

In [230]:
pop_seoul

      구별         인구수        한국인       외국인        고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0

In [231]:
# 구별 외국인 비율 상위 5개 구...

In [232]:
pop_seoul['외국인비율'] = (pop_seoul['외국인']/pop_seoul['인구수'])*100
pop_seoul.sort_values('외국인비율',ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828

In [233]:
# 고령자 비율 상위 5개 구...

In [234]:
pop_seoul['고령자비율'] = (pop_seoul['고령자']/pop_seoul['인구수'])*100
pop_seoul.sort_values('고령자비율',ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797

In [235]:
pop_seoul

      구별         인구수        한국인       외국인        고령자     외국인비율      고령자비율
0     합계  10197604.0  9926968.0  270636.0  1321458.0  2.653918  12.958515
1    종로구    162820.0   153589.0    9231.0    25425.0  5.669451  15.615404
2     중구    133240.0   124312.0    8928.0    20764.0  6.700690  15.583909
3    용산구    244203.0   229456.0   14747.0    36231.0  6.038828  14.836427
4    성동구    311244.0   303380.0    7864.0    39997.0  2.526635  12.850689
5    광진구    372164.0   357211.0   14953.0    42214.0  4.017852  11.342849
6   동대문구    369496.0   354079.0   15417.0    54173.0  4.172440  14.661322
7    중랑구    414503.0   409882.0    4621.0    56774.0  1.114829  13.696885
8    성북구    461260.0   449773.0   11487.0    64692.0  2.490353  14.025062
9    강북구    330192.0   326686.0    3506.0    54813.0  1.061806  16.600342
10   도봉구    348646.0   346629.0    2017.0    51312.0  0.578524  14.717507
11   노원구    569384.0   565565.0    3819.0    71941.0  0.670725  12.634883
12   은평구    494388.0   489943.0    4445.0    72334.0  0.899091  14.631019
13  서대문구    327163.0   314982.0   12181.0    48161.0  3.723221  14.720797
14   마포구    389649.0   378566.0   11083.0    48765.0  2.844355  12.515110
15   양천구    479978.0   475949.0    4029.0    52975.0  0.839413  11.036964
16   강서구    603772.0   597248.0    6524.0    72548.0  1.080540  12.015794
17   구로구    447874.0   416487.0   31387.0    56833.0  7.007998  12.689506
18   금천구    255082.0   236353.0   18729.0    32970.0  7.342345  12.925255
19  영등포구    402985.0   368072.0   34913.0    52413.0  8.663598  13.006191
20   동작구    412520.0   400456.0   12064.0    56013.0  2.924464  13.578251
21   관악구    525515.0   507203.0   18312.0    68082.0  3.484582  12.955291
22   서초구    450310.0   445994.0    4316.0    51733.0  0.958451  11.488308
23   강남구    570500.0   565550.0    4950.0    63167.0  0.867660  11.072217
24   송파구    667483.0   660584.0    6899.0    72506.0  1.033584  10.862599
25   강동구    453233.0   449019.0    4214.0    54622.0  0.929765  12.051638

In [236]:
### CCTV데이터 분석

In [237]:
cctv_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [238]:
cctv_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [239]:
cctv_seoul.rename(columns = {'기관명' : '구별'}, inplace=True)

In [240]:
cctv_seoul

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [241]:
### CCTV가 가장 많은 구.. 상위 5곳..

In [242]:
cctv_seoul.sort_values('소계', ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [243]:
# 2016년도의 cctv 증가율이 가장 높은 구?
cctv_seoul['2016년 누적'] = cctv_seoul[['2013년도 이전', '2014년', '2015년']].sum(axis=1)
cctv_seoul['2016증가율'] = (cctv_seoul['2016년']/cctv_seoul['2016년 누적'])*100

In [244]:
cctv_seoul.sort_values('2016증가율',ascending=False).head(5)

     구별    소계  2013년도 이전  2014년  2015년  2016년  2016년 누적    2016증가율
9   도봉구   485        238    159     42    386       439  87.927107
17  송파구   618        529     21     68    463       618  74.919094
22  종로구  1002        464    314    211    630       989  63.700708
12  마포구   574        314    118    169    379       601  63.061564
1   강동구   773        379     99    155    377       633  59.557662

In [245]:
# 1인당 cctv수가 (인당 cctv비율)가 가장 높은 상위 5개 구..?
cctv_total= pd.merge(cctv_seoul, pop_seoul, on='구별', how ='inner')
cctv_total.drop(['2013년도 이전','2014년','2015년','2016년','2016년 누적'],axis=1, inplace=True)
cctv_total.head(5)

,구별,소계,2016증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,40.416305,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,59.557662,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,32.535885,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,9.759036,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,40.975936,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [246]:
cctv_total['1인당 cctv수'] = (cctv_total['소계']/cctv_total['인구수'])*100

In [247]:
# 1인당 cctv 상위 5개 구
cctv_total.sort_values('1인당 cctv수', ascending=False).head(5)

,구별,소계,2016증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,1인당 cctv수
20,용산구,1624,23.439340,244203.0,229456.0,14747.0,36231.0,6.038828,14.836427,0.665020
22,종로구,1002,63.700708,162820.0,153589.0,9231.0,25425.0,5.669451,15.615404,0.615404
23,중구,671,51.555556,133240.0,124312.0,8928.0,20764.0,6.700690,15.583909,0.503603
0,강남구,2780,40.416305,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217,0.487292
14,서초구,1930,20.958399,450310.0,445994.0,4316.0,51733.0,0.958451,11.488308,0.428594

In [ ]:
# 일인당 cctv에 가장 큰 영향을 미치는 요인..?

In [252]:
cctv_total.drop(['소계', '2016증가율'], axis=1).corr()

,인구수,한국인,외국인,고령자,외국인비율,고령자비율,1인당 cctv수
인구수,1.000000,0.998061,-0.153371,0.932667,-0.591939,-0.669462,-0.514143
한국인,0.998061,1.000000,-0.214576,0.931636,-0.637911,-0.660812,-0.513169
외국인,-0.153371,-0.214576,1.000000,-0.155381,0.838904,-0.014055,0.079211
고령자,0.932667,0.931636,-0.155381,1.000000,-0.606088,-0.380468,-0.541024
외국인비율,-0.591939,-0.637911,0.838904,-0.606088,1.000000,0.267348,0.406199
고령자비율,-0.669462,-0.660812,-0.014055,-0.380468,0.267348,1.000000,0.290528
1인당 cctv수,-0.514143,-0.513169,0.079211,-0.541024,0.406199,0.290528,1.000000

In [250]:
cctv_total.corr()

,소계,2016증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율,1인당 cctv수
소계,1.000000,-0.387226,0.306342,0.304287,-0.023786,0.255196,-0.136074,-0.280786,0.575784
2016증가율,-0.387226,1.000000,-0.086375,-0.075167,-0.162031,-0.122653,-0.044571,0.092843,-0.194763
인구수,0.306342,-0.086375,1.000000,0.998061,-0.153371,0.932667,-0.591939,-0.669462,-0.514143
한국인,0.304287,-0.075167,0.998061,1.000000,-0.214576,0.931636,-0.637911,-0.660812,-0.513169
외국인,-0.023786,-0.162031,-0.153371,-0.214576,1.000000,-0.155381,0.838904,-0.014055,0.079211
고령자,0.255196,-0.122653,0.932667,0.931636,-0.155381,1.000000,-0.606088,-0.380468,-0.541024
외국인비율,-0.136074,-0.044571,-0.591939,-0.637911,0.838904,-0.606088,1.000000,0.267348,0.406199
고령자비율,-0.280786,0.092843,-0.669462,-0.660812,-0.014055,-0.380468,0.267348,1.000000,0.290528
1인당 cctv수,0.575784,-0.194763,-0.514143,-0.513169,0.079211,-0.541024,0.406199,0.290528,1.000000